<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alex Shop</title>
    <!-- Solo CSS -->
    <!-- Con el siguiente link exportamos los estilos de boostrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
    <div> <!-- Inicio del navbar -->
        <nav class="navbar navbar-expand-lg bg-light"> <!-- clase donde podremos cambiar el estilo del navbar -->
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Alex Shop</a> <!-- Tendremos el nombre de la pagina -->
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Inicio</a> <!-- configuramos las secciones de la barra de navegacion -->
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Galeria</a> <!-- configuramos las secciones de la barra de navegacion -->
                  </li>
                  <li class="nav-item dropdown"> <!-- Tendremos una lista vertical con sus acciones -->
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Categorias
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Accion</a></li> <!-- Lista horizontal de la seccion Categorias -->
                      <li><a class="dropdown-item" href="#">Aventura</a></li> <!-- Lista horizontal de la seccion Categorias -->
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Mas categorias</a></li> <!-- Lista horizontal de la seccion Categorias -->
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Acerca de</a> <!-- configuramos las secciones de la barra de navegacion -->
                  </li>
                </ul>
                <form class="d-flex" role="search"> <!-- Configuramos la barra de busqueda con su boton -->
                  <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
                  <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
              </div>
            </div>
          </nav>
    </div> <!-- Fin del navbar -->

    <div style="text-align: center;">
        <blockquote cite='http://html.conclase.net/w3c/html401...def-BLOCKQUOTE'>
            <p>
              <strong>Acceso instantáneo a la inversión, en cualquier momento y en cualquier lugar</strong> <br>
             <div> Invertir nunca ha sido tan fácil. Todo lo que buscas en una plataforma de inversión definitiva — en el dispositivo de tu elección. <br>
              El 'trading' consiste en la compraventa de activos cotizados con mucha liquidez de mercado (acciones, divisas y futuros). Y ese mercado financiero es electrónico 
              y está regulado. Su objetivo es obtener un beneficio económico cuando la operación genera una plusvalía.</div>
            </p>
          </blockquote>
    </div>
</body>
</html>
<!-- Paquete JavaScript con Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>