<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Alex Shop</title>
    <!-- Solo CSS -->
    <!-- Con el siguiente link exportamos los estilos de boostrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
    <div> <!-- Inicio del navbar -->
        <nav class="navbar navbar-expand-lg bg-light"> <!-- clase donde podremos cambiar el estilo del navbar -->
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Alex Shop</a> <!-- Tendremos el nombre de la pagina -->
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Inicio</a> <!-- configuramos las secciones de la barra de navegacion -->
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Galeria</a> <!-- configuramos las secciones de la barra de navegacion -->
                  </li>
                  <li class="nav-item dropdown"> <!-- Tendremos una lista vertical con sus acciones -->
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Categorias
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Accion</a></li> <!-- Lista horizontal de la seccion Categorias -->
                      <li><a class="dropdown-item" href="#">Aventura</a></li> <!-- Lista horizontal de la seccion Categorias -->
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Mas categorias</a></li> <!-- Lista horizontal de la seccion Categorias -->
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Acerca de</a> <!-- configuramos las secciones de la barra de navegacion -->
                  </li>
                </ul>
                <form class="d-flex" role="search"> <!-- Configuramos la barra de busqueda con su boton -->
                  <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
                  <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
              </div>
            </div>
          </nav>
    </div> <!-- Fin del navbar -->

    <div style="text-align: center;"> <!-- Inicio del bloque -->
        <blockquote>
            <p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> <!-- Estilo para la etiqueta del bloque p -->
              <strong>Alex Shop/Tienda de Video Juegos </strong> <br>
             <div> Queremos que sepa que no tenemos ningún contenido ilegal o protegido por derechos de autor en Alex Shop. 
                 La información de archivo que alojamos no tiene archivos que puedan tener derechos de autor. Estamos en 
                 correspondencia con la Ley de derechos de autor del milenio digital ("DMCA") y las leyes internacionales 
                 generales de derechos de autor. Sin embargo, aún podemos eliminar la publicación de nuestro sitio si el 
                 propietario de los derechos de autor desea que lo hagamos.</div>
            </p>
          </blockquote>
    </div> <!-- Fin del bloque -->

    <div class="gp-widget-title" style= "font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> <!-- Estilos para la etiqueta -->
        <h3 class="widgettitle">Destacados</h3>
        </div> <!-- Fin de etiqueta -->
    <div>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner"><center>
              <div class="carousel-item active"> 
                <img src="{{url_for('static', filename='Imagenes/fifa-22.jpg')}}" class="d-block w-75" alt="..." height="600px"> <!-- Colocaremos las imagenes de forma static -->
              </div>
              <div class="carousel-item">
                <img src="{{url_for('static', filename='Imagenes/far-cry-6.jpg')}}" class="d-block w-75" alt="..." height="600px"> <!-- Colocaremos las imagenes de forma static -->
              </div>
              <div class="carousel-item">
                <img src="{{url_for('static', filename='Imagenes/Forza-Horizon-5.jpg')}}" class="d-block w-75" alt="..." height="600px"> <!-- Colocaremos las imagenes de forma static -->
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span> 
              <span class="visually-hidden">Previous</span> <!-- Para el uso del boton anterior -->
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span> <!-- Para el uso del boton siguiente -->
            </button>
          </div></center>
    </div>
</body>
</html>
<!-- Paquete JavaScript con Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>